@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
h1,h3{
    color: #232C50;
}
.getStarted, .footerSup, .emailButton form button{
    cursor: pointer;
    background-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 75.13px ; 
}
header nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
header nav ul li{
    color: #242E52;
    font-size: 13px;
    margin-left: 28px;
}
button.getStarted{
    font-size: 13.18px;
    padding: 12.5px 30.5px;
    border-radius: 50px;
    color: white;
    border: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ------------TEXTO Y GRAFICO -----------*/
main section.textBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    flex-wrap: wrap;
    /* background-color: grey; */
}
h1{
    font-size: 58px;
    font-weight: bold;
    padding-right: 100px;
}
.textYbutton p{
    font-size: 16.5584px;
    font-weight: medium;
    padding: 28px 360px 20px 0px;
}
.textYbutton{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 50%;
} 
.grafico{
    width: 50%;
}
/* -------------PARTE DEL MEDIO CON SKILLS ----------*/
.prospecto{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    width: 76%;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
.text {
    display: flex;
    flex-direction: column;
    width: 35%;
    flex-wrap: wrap;
}
.text h3{
    font-size: 36px;
    font-weight: bold;
}
.text p{
    padding: 28px 150px 0 0;
}
.items{
    width: 50%;
    height: 50vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.skills{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.skills h5{
    color: #323851;
    display: inline-block;
    font-size: 16px;
}
.skills span{
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    border: none;
    background-color: #F3603B;
    margin-right: 23px;
    font-weight: normal;
}
.skills p{
    margin-top: 20px;
    padding-left: 92px;
    padding-right: 132px;
    color: #B3B2B7;
}
/* ----------GALERIA WHAT THEY'VE SAID  ------------*/
.midFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.midFooter h2 {
    color: #242E53;
    font-size: 39.21px;
}
.galeria {
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}
.galeria .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 445px;
    height: 219px;
    background: #FAFAFA;
    position: relative;
    flex-wrap: wrap;
}
.galeria .cards img{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 180px;
}
.cards h5{
    color: #3F4868;
    font-size: 16.07px;
    margin-top: 80px;
}
.cards p{
    color: #B9B9C1;
    margin-top: 21px;
    text-align: center;
}
.midFooter button{
    margin-top: 80px;
    margin-bottom: 200px;
}
/* --------------FOOTER FINAL----------- */
.footerSup{
    display: flex;
    height: 247px;
    flex-wrap: wrap;
}
.footerSup h2{
    color: white;
    font-size: 40px;
    width: 500px;
}
.getStarted2{
    font-size: 13.18px;
    padding: 12.5px 30.5px;
    border-radius: 50px;
    background-color: white;
    color:#F3603B;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.footerEnd{
    display: flex;
    background-color: #1E1E26;
    justify-content: space-around;
    align-items: center;
    height: 247px;
    flex-wrap: wrap;
}
.footerEnd{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logoSocialMedia{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.socialMedia{
    display: flex;
    margin-top: 66px;
    flex-wrap: wrap;
}
.socialMedia img{
    padding-right: 13.5px;
}
.politicas{
    display: flex;
    flex-wrap: wrap;
}
.column ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.column ul li{
    list-style: none;
    padding: 12px 100px;    
}
.column ul li a{
    text-decoration: none;
    color: white;
}
.formEnd{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.emailButton{
    display: flex;
    flex-wrap: wrap;
}
.emailButton form input{
    font-size: 13.18px;
    border-radius: 50vh;
    border: none;
    padding: 12.5px 48px 12.5px 10px;
}
.emailButton form button{
    border-radius: 50vh;
    border: none;
    padding: 11.5px 22.5px;
    color: white;
}
.copyRight{
    display: flex;
    flex-direction: column;
    margin-top: 66px;
    color: #8C8C94;
    font-size: 12.5px;
    text-align: end;
    flex-wrap: wrap;
}
/* ----------------MOBILE 375PX --------------------*/
@media (max-width: 375px) {
    .navHeader, .home a,header a{
        display: none;
    }
    main section.textBanner{
        flex-direction: column;
        width: 100%;
    }
    .grafico{
        order: -1;
        width: 100vh;
    }
    .textYbutton{
        align-items: center;
        width: 100vh;
    }
    .textYbutton h1, .textYbutton p{
        text-align: center;
    }
    .textYbutton p{
        padding: 0;
        width: 375px;
        text-align: center;
    }


    .footerSup h2{
        text-align: center;
    }
    .end{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 375px;
    }
} 


