img {
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    background-color:#C4C4C4;
    color:#005677;
    letter-spacing: 5px;

}
.cuadradoBlanco{
    width: 1440px;
    height: 100px;
    background-color: white;
}
.conPunto {
    list-style: none;
}
h2{
    background-color:#C4C4C4;
    color:#005677;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 20px;
    text-indent: 20px;
    letter-spacing: 5px;

}
footer{
    background-color: #005677;
    
}
span{
    font-style: italic;
    font-weight: 700;
    
}
footer p{
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}