
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
  }

header div p{
    background-color: #1CD1B0;
    /* text-indent: 10px;   Sangria al principio*/
    padding: 10px 903px 10px 10px; 
}
header{
    font-weight: regular;
    font-family: "Roboto",sans-serif;
    text-transform: capitalize;
}
h1{

    background-color: #00669F;
    padding: 28px 868px 26px 28px;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section article{
    display: flex;
    position:relative;
    margin: 100px 0;
    flex-direction: column;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    width: 300px;
}
section article div{
    height: 194px;
    width: 300px;
    background: url(../img/fondo-batman.png);
    background-size: cover;
    padding: 15px;
    border-radius: 16px 16px 0px 0px;
}
section article.harley div{
    background: url(../img/harley-fondo.png);    
}
section article div img.corazon{
    position: absolute;
    top: 15.88px;
}
section article img{
    border-radius: 50%;
    position: absolute;
    top:140px      
}
section article h4{
    margin-top: 70px;
    font-size: 30px;
    text-transform: uppercase;
}
p{
    padding: 10px 16px 104px;
    
}


button{
    color:white;
    text-transform: capitalize;
    background-color:#00669F;
    width: 128.78px;
    height: 48.52px;
    position: absolute;
    bottom: 18.48px;

}
footer{
    font-family: "Roboto",sans-serif;
    background-color: #00669F;
    text-transform: capitalize;
    color: white;
    padding: 16px 671px 16px 16px;
}
span{
    text-transform: uppercase;
}
